<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>CarFinder Information</title>

    <link rel="shortcut icon" href="assets/img/smallcar.png" />

    <meta name="description" content="">

    <link type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <link type="text/css" href="assets/css/style.css" rel="stylesheet" />
</head>

<body>
    <div class="text-center" id="header">
        <h1>ACarFinder</h1>
        <h2>Find the right car</h2>
    </div>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">ACarFinder</a>
            </div>
            <ul class="nav navbar-nav navbar-right" id="bs-example-navbar-collapse-1">
                <li><a href="#search">Search</a></li>
                <li><a href="https://www.acerthedeveloper.com/Home/Portfolio">Portfolio</a></li>
            </ul>
        </div>
    </nav>

    <div id="main" ng-app="CarFinderApp">
        <div class="container" ng-controller="CarFinderAppController">
            <div class="row" id="search">
                <div class="row">
                    <div class="col-md-3">
                        <label class="form-label">Year</label>
                        <select id="yearSelection" class="form-control" ng-model="selectedYear" ng-options="year for year in years" ng-change="getMakes()">
                            <option value="" > Select year </option>
                        </select>
                        <div class="loadingMessage" ng-show="showYearLoadingMessage" style="">
                            Loading ...
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Make</label>
                        <select id="makeSelection" class="form-control" ng-model="selectedMake" ng-disabled="!makes" ng-options="make for make in makes" ng-change="getModels()">
                            <option value=""> Select make </option>
                        </select>
                        <div class="loadingMessage" ng-show="showMakeLoadingMessage" style="">
                            Loading ...
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Model</label>
                        <select id="modelSelection" class="form-control" ng-model="selectedModel" ng-disabled="models == null" ng-options="model for model in models" ng-change="getTrims()">
                            <option value=""> Select model </option>
                        </select>
                        <div class="loadingMessage" ng-show="showModelLoadingMessage" style="">
                            Loading ...
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Model Trim</label>
                        <select id="trimSelection" class="form-control" ng-model="selectedTrim" ng-options="trim for trim in trims" ng-disabled="trims == null" ng-change="getCar()">
                            <option value=""> Select trim </option>
                        </select>
                        <div class="loadingMessage" ng-show="showTrimLoadingMessage" style="">
                            Loading ...
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="bottom">
                <div class="loadingMessage" ng-show="showCarDataLoadingMessage" style="">
                    <div class="text-center">
                        <img src="~/Content/Images/loading.gif" style="height:80px;">
                    </div>
                    <div class="text-center">
                        <div class="progress center-block" style="width:200px;">
                            <!-- set to certain width -->
                            <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%;">
                                <span>
                                    Loading...
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--if carData is null then hide everything, create a loop for carData.cars-->
                <div id="carInfo" ng-hide="carData == null" ng-repeat="allCar in carData.cars">
                    <h2 class="row text-center">
                        <!--Insert car heading here-->
                        <b>{{allCar.model_year}} {{allCar.make}} {{allCar.model_name}} {{allCar.model_trim}}</b>
                    </h2>
                    <br />

                    <div class="row">
                        <div class="col-sm-6">

                            <!--property labels-->
                            <div class="row" ng-show="allCar.model_trim !=''">
                                <div class="col-md-4 col-md-offest-1 test-primary text-right">Trim:</div>
                                <div class="col-md-7" style="color:red">
                                    {{allCar.model_trim}}
                                    <br />
                                </div>
                            </div>

                            <div class="row" ng-show="allCar.body_style !=''">
                                <div class="col-md-4 col-md-offest-1 test-primary text-right">Body Style:</div>
                                <div class="col-md-7" style="color:red">
                                    {{allCar.body_style}}
                                    <br />
                                </div>
                            </div>
                            <div class="row" ng-show="allCar.engine_position !=''">
                                <div class="col-md-4 col-md-offest-1 test-primary text-right">Eng Position:</div>
                                <div class="col-md-7" style="color:red">
                                    {{allCar.engine_position}}
                                    <br />
                                </div>
                            </div>
                            <div class="row" ng-show="allCar.body_style !=''">
                                <div class="col-md-4 col-md-offest-1 test-primary text-right">Body Style:</div>
                                <div class="col-md-7" style="color:red">
                                    {{allCar.body_style}}
                                    <br />
                                </div>
                            </div>
                            <div class="row" ng-show="allCar.engine_cc !=''">
                                <div class="col-md-4 col-md-offest-1 test-primary text-right">Engine CC:</div>
                                <div class="col-md-7" style="color:red">
                                    {{allCar.engine_cc}}
                                    <br />
                                </div>
                            </div>
                            <div class="row" ng-show="allCar.engine_num_cyl !=''">
                                <div class="col-md-4 col-md-offest-1 test-primary text-right">Cylinder:</div>
                                <div class="col-md-7" style="color:red">
                                    {{allCar.engine_num_cyl}}
                                    <br />
                                </div>
                            </div>
                            <div class="row" ng-show="allCar.engine_type !=''">
                                <div class="col-md-4 col-md-offest-1 test-primary text-right">Engine Type:</div>
                                <div class="col-md-7" style="color:red">
                                    {{allCar.engine_type}}
                                    <br />
                                </div>
                            </div>
                            <div class="row" ng-show="allCar.engine_power_ps !=''">
                                <div class="col-md-4 col-md-offest-1 test-primary text-right">Eng Power PS:</div>
                                <div class="col-md-7" style="color:red">
                                    {{allCar.engine_power_ps}}
                                    <br />
                                </div>
                            </div>
                            <div class="row" ng-show="allCar.engine_cc !=''">
                                <div class="col-md-4 col-md-offest-1 test-primary text-right">Eng CC:</div>
                                <div class="col-md-7" style="color:red">
                                    {{allCar.engine_cc}}
                                    <br />
                                </div>
                            </div>
                            <div class="row" ng-show="allCar.engine_power_rpm !=''">
                                <div class="col-md-4 col-md-offest-1 test-primary text-right">Eng Power RPM:</div>
                                <div class="col-md-7" style="color:red">
                                    {{allCar.engine_power_rpm}}
                                    <br />
                                </div>
                            </div>
                            <div class="row" ng-show="allCar.engine_torque_nm !=''">
                                <div class="col-md-4 col-md-offest-1 test-primary text-right">Eng Torque NM:</div>
                                <div class="col-md-7" style="color:red">
                                    {{allCar.engine_torque_nm}}
                                    <br />
                                </div>
                            </div>
                            <div class="row" ng-show="allCar.engine_compression !=''">
                                <div class="col-md-4 col-md-offest-1 test-primary text-right">Eng Compres:</div>
                                <div class="col-md-7" style="color:red">
                                    {{allCar.engine_compression}}
                                    <br />
                                </div>
                            </div>
                            <div class="row" ng-show="allCar.engine_fuel !=''">
                                <div class="col-md-4 col-md-offest-1 test-primary text-right">Eng Fuel:</div>
                                <div class="col-md-7" style="color:red">
                                    {{allCar.engine_fuel}}
                                    <br />
                                </div>
                            </div>
                            <div class="row" ng-show="allCar.top_speed_kph !=''">
                                <div class="col-md-4 col-md-offest-1 test-primary text-right">Top Speed KPH:</div>
                                <div class="col-md-7" style="color:red">
                                    {{allCar.top_speed_kph}}
                                    <br />
                                </div>
                            </div>
                            <div class="row" ng-show="allCar.zero_to_100_kph !=''">
                                <div class="col-md-4 col-md-offest-1 test-primary text-right">Zero to 100 Kph:</div>
                                <div class="col-md-7" style="color:red">
                                    {{allCar.zero_to_100_kph}}
                                    <br />
                                </div>
                            </div>
                            <div class="row" ng-show="allCar.drive_type !=''">
                                <div class="col-md-4 col-md-offest-1 test-primary text-right">Drive type:</div>
                                <div class="col-md-7" style="color:red">
                                    {{allCar.drive_type}}
                                    <br />
                                </div>
                            </div>
                            <div class="row" ng-show="allCar.transmission_type !=''">
                                <div class="col-md-4 col-md-offest-1 test-primary text-right">Trans Type:</div>
                                <div class="col-md-7" style="color:red">
                                    {{allCar.transmission_type}}
                                    <br />
                                </div>
                            </div>
                            <div class="row" ng-show="allCar.seats !=''">
                                <div class="col-md-4 col-md-offest-1 test-primary text-right">Seats:</div>
                                <div class="col-md-7" style="color:red">
                                    {{allCar.seats}}
                                    <br />
                                </div>
                            </div>
                            <div class="row" ng-show="allCar.doors !=''">
                                <div class="col-md-4 col-md-offest-1 test-primary text-right">Doors:</div>
                                <div class="col-md-7" style="color:red">
                                    {{allCar.doors}}
                                    <br />
                                </div>
                            </div>
                            <div class="row" ng-show="allCar.weight_kg !=''">
                                <div class="col-md-4 col-md-offest-1 test-primary text-right">Weight Kg:</div>
                                <div class="col-md-7" style="color:red">
                                    {{allCar.weight_kg}}
                                    <br />
                                </div>
                            </div>
                            <div class="row" ng-show="allCar.wheelbase !=''">
                                <div class="col-md-4 col-md-offest-1 test-primary text-right">Eng CC:</div>
                                <div class="col-md-7" style="color:red">
                                    {{allCar.wheelbase}}
                                    <br />
                                </div>
                            </div>
                            <div class="row" ng-show="allCar.lkm_hwy !=''">
                                <div class="col-md-4 col-md-offest-1 test-primary text-right">lkm Hwy:</div>
                                <div class="col-md-7" style="color:red">
                                    {{235.2145833/allCar.lkm_hwy | number:0}}
                                    <br />
                                </div>
                            </div>
                            <div class="row" ng-show="allCar.lkm_mixed !=''">
                                <div class="col-md-4 col-md-offest-1 test-primary text-right">lkm MIXED:</div>
                                <div class="col-md-7" style="color:red">
                                    {{235.2145833/allCar.lkm_mixed | number:0}}
                                    <br />
                                </div>
                            </div>
                            <div class="row" ng-show="allCar.lkm_city !=''">
                                <div class="col-md-4 col-md-offest-1 test-primary text-right">lkm City:</div>
                                <div class="col-md-7" style="color:red">
                                    {{allCar.lkm_city}}
                                    <br />
                                </div>
                            </div>
                            <div class="row" ng-show="allCar.fuel_capacity_l !=''">
                                <div class="col-md-4 col-md-offest-1 test-primary text-right">Fuel Cap:</div>
                                <div class="col-md-7" style="color:red">
                                    {{allCar.fuel_capacity_l}}
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!--/#main-->

    <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-resource.min.js"></script>
    <script src="Scripts/angular-animate.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="NgApp/app.js"></script>
    <script src="NgApp/Controllers/CarFinderAppController.js"></script>

    <!--Beging Js files-->


    <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/acarfinder.js"></script>
</body>
</html>
